
      body {
        background-color: #212121;
        color: #fff;
      }
      .center {
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      #clock {
        font-size: 40px;
        background-color: orange;
        padding: 20px 50px;
        margin-top: 10px;
        border-radius: 10px;
      }
nav {
    background-color: #212121; 
    padding: 10px;
}

.box {
    width: 120px;
    height: 40px;
    background-color: white;
    border: 2px solid blue;
    text-align: center;
    line-height: 40px; /* Vertically centers the text */
}